.App {
  display: flex; text-align: center;
  color: #333; background: #F9FAFF;
  border-radius: 10px;
  margin: 3em auto 0;
  max-width: 61.8em;
  -webkit-box-shadow: 0 0 1em hsla(0,0%,0%,0.15);
  box-shadow: 0 0 1em hsla(0,0%,0%,0.15);
  -webkit-box-sizing: border-box;
  box-sizing: border-box; overflow: hidden;
}

.App>.todo > .todoList> li:nth-child(odd){
  background: #eee;
}
.App>.todo > .todoList> li:nth-child(even){
  background: transparent;
}
.todoList{
  padding-left: 0;
}
h1{
  font-weight: normal; font-size: 1.8em !important; margin: 1.47em 0 1em !important;
}
.App>.todo > .todoList{
  max-height: 23em; overflow-y: scroll; margin-right: -1em; padding-left: 2em;
}
.App>.todo > .todoList> li:nth-child(odd){
  background: #eee;
}
.App>.todo > .todoList> li:nth-child(even){
   background: transparent;
 }
.App>.todo>.time+h1{
  position: relative;
}
.icon-out{
  font-size: 1.2em; position: absolute; right: 0.5em; bottom:-0.2em; color: #b6b7bb;
}
.icon-out:hover{
  color: #8a8a8c; cursor: pointer;
}

.date{
  display: inline-block; height: 46em; background: url(./bg4.jpg) no-repeat -13em; background-size: cover;
}
.date b{
  font-weight: normal;
}
.date i{
  font-style: normal;
}
.date .arrow{
  display: block; width:0; height:0; border: 8px solid transparent; border-right: 8px solid rgba(24,59,239,.3);
}
.date .arrow.right{
  border-right: none; border-left: 8px solid rgba(24,59,239,.3);
}
.date .show{
  display: flex; justify-content: center; align-items: center; color: #183BEF; margin: 6em 0 3em;
}
.date .show b{
  color: #333;
}
.date .show p{
  padding: 0 6em; font-size: 1.2em;
}
.date>table td,.date>table th{
  width: 4.7em; height: 4.5em; text-align: center;
}
.date>table td{
  font-size: 1.2em; color: #555;
}
.date>table .current{
  display: inline-block; width: 2.8em; height: 2.8em; border-radius: 50%; color: #fff; background: #3AE49B; box-shadow: 0 0.3em 0.9em rgba(58,228,155,.7);
  line-height: 2.8em;
}
.date>table .data{
  position: relative; color: #34b980;
}


.todo{
  width: 21em;
}
.todo .time{
  margin: 3em 0 2em; text-align: right; padding-right: 1.4em; color: #999;
}
.todo .time em{
  font-style: normal;
}
.todo h1{
  color: #D68AF2; font-size: 1.5em !important; text-align: left; padding-left: 1em;
}


.inputWrapper{
  margin-bottom: 3em; padding: 1.2em 1em 1em 1.6em; position: relative;
  background: -moz-linear-gradient(left, rgba(239,160,73,1) 0%, rgba(239,160,73,0.5) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(239,160,73,1) 0%,rgba(239,160,73,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(239,160,73,1) 0%,rgba(239,160,73,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efa049', endColorstr='#80efa049',GradientType=1 ); /* IE6-9 */

}