.UserDialog-Wrapper{
  /*全屏*/      position: fixed; top: 0; left: 0; bottom: 0; right: 0;
  /*内容居中*/  display: flex; justify-content: center; align-items: center;
   /*background: hsla(0,0%,0%,0.40);*/
   background: #F5F7FA;
}
.UserDialog{
   border-radius: 6px; background: #fff;
   box-shadow: 0 0 1em rgba(0,0,0,.2); overflow: hidden;
}
.clearfix:after{
   display: block; content: ""; clear: both;
}
.UserDialog .signInOrSignUp,.UserDialog>.forgotPassword{
   width: 20em; float: left; padding: 6em 2em 1em;
}
.UserDialog .signInOrSignUp>h1{
   font-weight: bold; font-size: 2em !important; color: #333; text-align: center; padding-left: 0;
}
.UserDialog .forgotPassword>h1{
    font-weight: bold; margin-bottom: 1.6em !important; font-size: 1.5em !important; color: #333; text-align: center; padding-left: 0;
 }
.UserDialog form>.row{
   display: flex; margin-bottom: 1em;
}
.UserDialog form label{
   position: absolute; height: 2.4em; display: flex; justify-content: center; align-items: center; border-right: 1px solid #ccc;
}
.UserDialog form label i{
   font-size: 1.2em; margin-left: 0.1em; color: #aaa;
}
.UserDialog form label i.icon-youxiang{
   font-size: 1.3em; margin-top: 0.2em;
}
.UserDialog form input{
   width: 100%; height: 2.4em; padding-left: 2.7em; border: 1px solid #ccc; border-radius: 4px; text-indent: 1em;
}
.UserDialog form>.row.actions{
   padding: 0 !important;
}
.UserDialog button{
   border: none; border-radius: 4px; background: #4786FF; margin: 0 !important; color: #fff;
   cursor: pointer; box-shadow: 0 0.2em 0.6em rgba(130,148,251,.5);
   background: rgb(131,153,252); /* Old browsers */
   background: -moz-linear-gradient(top, rgba(131,153,252,1) 0%, rgba(109,130,249,1) 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top, rgba(131,153,252,1) 0%,rgba(109,130,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom, rgba(131,153,252,1) 0%,rgba(109,130,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8399fc', endColorstr='#6d82f9',GradientType=0 ); /* IE6-9 */
}
.UserDialog button:hover{
   background: rgb(111,138,247); /* Old browsers */
   background: -moz-linear-gradient(top, rgba(111,138,247,1) 0%, rgba(100,122,244,1) 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top, rgba(111,138,247,1) 0%,rgba(100,122,244,1) 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom, rgba(111,138,247,1) 0%,rgba(100,122,244,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f8af7', endColorstr='#647af4',GradientType=0 ); /* IE6-9 */
}
.UserDialog form>.row.actions button{
   width: 100%; height: 2.6em;
}
.UserDialog form.signIn>.row.actions button{
   width: 60%; height: 2.4em; margin-left: 1.3em !important;
}
.UserDialog form.signIn>.row.actions a{
   text-decoration: none; color: #666; margin-left: 0.5em; font-size: 0.9em;
}
.UserDialog .change .line{
   border-top: 1px dashed #ccc; margin: 1.8em 0 1em;
}
.UserDialog .change .line span{
   background: #fff; padding: 0 1em; position: relative; top: -0.6em;
}
.UserDialog .change .text:first-child{
   margin-top: -0.4em;
}
.UserDialog .change .text span{
   line-height: 2.4em; font-size: 0.9em;
}
.UserDialog .change .text button{
    width: 6.9em; height: 2.4em; float: right; margin-left: 0.8em !important;
}
.UserDialog .change .text.back button{
   width: 100%; height: 2.4em;
}
.UserDialog form.forgotPassword input{
   margin-bottom: 0.8em;
}
.UserDialog form.forgotPassword>.row.actions{
   display: block;
}
.UserDialog form.forgotPassword>.row.actions button{
   display: block; float: none; margin-bottom: 1em !important;
}
.UserDialog form.forgotPassword>.row.actions a{
  display: block; width: 100%; text-decoration: none; color: #666; margin-left: 0.5em; font-size: 0.9em;
}


.UserDialog .signInOrSignUp > nav:first-child{ padding: 1em; margin-left: -2em;}
.UserDialog .signInOrSignUp > nav:first-child label{ margin-left: 2em; cursor: pointer;}

.UserDialog .forgotPassword > h3 { padding: 1em; }
+.UserDialog .forgotPassword > form { padding: 0 1em 1em; }
.UserDialog form>.row>label:first-child{ width: 2.7em; }
.UserDialog form>.row.actions{ padding-left: 4em; cursor: pointer; }
.UserDialog form>.row.actions{ padding-left: 4em; display: flex; align-items: center;}
.UserDialog form>.row.actions button{ margin-right: .5em; }
.UserDialog button{font: inherit; padding: .2em;}

.UserDialog>.img{
   min-width: 46em; height: 37em; margin-left: 20em;
   background: url(./bg1.jpeg) no-repeat; background-size: cover;
}